{% extends 'myapp/base.html' %}
{% block content %}
 <main id="main">

    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="font-family: Garamond;">About</h2>
          {% comment %} <p style="font-family: Garamond; font-size: 20px;">The Journey.</p> {% endcomment %}
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title" style="font-family: Garamond;">Profile</h3>
            <div class="resume-item pb-0">
              <h4 style="font-family: Garamond; font-size: 20px;">Amos Koileken</h4>
              <p style="font-family: Garamond; font-size: 18px;"><em>Result-oriented Software Engineer adept in bringing forth expertise in design, development, testing and maintenance of software systems. Proficient in various platforms and languages. 
                    Able to effectively self-manage during independent projects, as well as collaborate as part of a productive team.</em></p>
              <p>
              <ul>
                <li style="font-family: Garamond; font-size: 17px;">Nairobi, Kenya</li>
                <li style="font-family: Garamond; font-size: 17px;">(+254) 740 872 215</li>
                <li style="font-family: Garamond; font-size: 17px;">amoskoileken254@gmail.com</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title" style="font-family: Garamond;">Education</h3>
            <div class="resume-item">
              <h3 style="font-family: Garamond; font-size: 20px;">Bsc in Informatics &amp; Computer Science</h4>
              <h5>2017 - 2021</h5>
              <p style="font-family: Garamond; font-size: 20px; font-type: bold;"><em>Strathmore University&nbsp;&nbsp;&nbsp;&nbsp; Nairobi, Kenya</em></p>
              <p style="font-family: Garamond; font-size: 18px;">Member of the Strathmore  University IT Association</p>
              <p style="font-family: Garamond; font-size: 18px;">Participated in workshops organized within the school by renown companies such as Microsoft and Huawei.</p>
              <p style="font-family: Garamond; font-size: 18px;">Developed a django authentication system module for a project I took part in.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title" style="font-family: Garamond;">Professional Experience</h3>
            <div class="resume-item">
              <h4 style="font-family: Garamond; font-size: 20px;">Software Developer</h4>
              <h5>2020 - 2021</h5>
              <p style="font-family: Garamond; font-size: 20px;"><em>Nairobi, Kenya </em></p>
              <p>
              <ul>
                
                <li style="font-family: Garamond; font-size: 18px;">Developed the front-end of the ‘PAID’ platform using codeigniter(PHP) framework, JavaScript, HTML &amp; CSS.</li>
                <li style="font-family: Garamond; font-size: 18px;">Improved the platform response time from 40% to 78% using google analytics.. </li>
                <li style="font-family: Garamond; font-size: 18px;">Designed Mobile and mobile web prototypes to clients.</li>
              </ul>
              </p>
            </div>
            <h3 class="resume-title" style="font-family: Garamond;">Skills &amp; Proficiency</h3>
             <div class="resume-item"> 
              <p>
              <ul>
                <li style="font-family: Garamond; font-size: 16px;">Python &amp; Django</li>
                <li style="font-family: Garamond; font-size: 16px;">Postgres &amp; MySQL</li>
                <li style="font-family: Garamond; font-size: 16px;">HTML &amp; CSS</li>
                <li style="font-family: Garamond; font-size: 16px;">PHP</li>
                <li style="font-family: Garamond; font-size: 16px;">Codeigniter</li>
                <li style="font-family: Garamond; font-size: 16px;">Laravel</li>
                <li style="font-family: Garamond; font-size: 16px;">JavaScript</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main>
{% endblock content %}


